@charset "UTF-8";
.container{
    width:90%;
    margin: 50px auto 0;
    min-height: 300px;
}
.title h2{
    border-top: 5px solid #3098F8;
    display:inline-block;
}
.title h6{
    display:inline-block;
}
/*label{
    position: relative;
}*/
.wrap{
    position:relative;
}
label input{
    width: 0;
}
input~div{
    display:none;
    position:absolute;
    width: 900px;
    background-color: #FFFFFF;
    /*background-color:#3098F8;*/
    top: 50px;
    /*float: left;*/
}
input:checked~div{ /* ~ 所有相邻兄弟选择器*/
    display: block;
}
/*label~div.active{
    display:block;
}*/
input:checked+span{	/* + 下一个相邻兄弟选择器*/
    /*display:inline-block;*/
    border-bottom: 3px solid #3098F8;
}
td{
    padding:0 30px;
}