@charset "UTF-8";
ul,li{
    margin:0;
    padding: 0;
}
body{
    /*background-color:#DDD;*/
}

.container{
    /*width: 1500px;*/
    width:90%;
    margin:50px auto 0;
}

/*.container .sidebar{
    float:left;
    width:20%;
    background-color:#FFF;
}*/

/*.container .sidebar .menu {
    width:80%;
    margin:20px auto;
}
.container .sidebar .menu  li{
     margin:20px 0;
 }
.container .sidebar .menu  li a{
    text-decoration: none;
}*/

.container .content{
    float: right;
    width:75%;
    background-color:#FFF;
    min-height: 300px;
}
.container .content>div{
    /*display: none;*/
    width:90%;
    margin:20px auto;
}
/*.container .content div.active{
    display: block;
}*/
