@charset "UTF-8";
ul,li{
    margin:0;
    padding: 0;
}
.sidebar{
    float:left;
    width:20%;
    background-color:#FFF;
}
.sidebar .menu {
    width:80%;
    margin:20px auto;
}
.sidebar .menu  li{
    margin:20px 0;
}
.sidebar .menu  li a{
    text-decoration: none;
}